* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 定义滚动条的样式 */
::-webkit-scrollbar {
  width: 0; /* 滚动条宽度 */
}

/* 定义滚动条轨道的样式 */
::-webkit-scrollbar-track {
  background-color: #f1f1f100; /* 滚动条轨道背景色 */
}

/* 定义滚动条滑块的样式 */
::-webkit-scrollbar-thumb {
  background-color: #45454548; /* 滚动条滑块颜色 */
  border-radius: 5px; /* 滑块圆角 */
}

/* 鼠标悬停在滚动条上时的样式 */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* 鼠标悬停时滑块颜色 */
}

/* 水平滚动条样式 */
::-webkit-scrollbar-horizontal {
  height: 10px; /* 水平滚动条高度 */
}

/* 垂直滚动条样式 */
::-webkit-scrollbar-vertical {
  width: 10px; /* 垂直滚动条宽度 */
}
:root {
  background-color: transparent !important;
}
html {
  background-color: transparent !important;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background-color: transparent;
}

/* 应用 */
#app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  /* background: #edc0bf; */
  /* background: linear-gradient(90deg, #edc0bfd2 0,#c4caefd5 58%); */
  background-color: var(--bg-color);
  /* transition: background-color 0.3s ease, opacity 2s ease; */
  color: var(--text-color);
  /* backdrop-filter: blur(20px); */
  user-select: none;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes show {
  0% {
    opacity: 0;
    /* transform: scale(0); */
    /* background-color: #00000000; */
  }
  100% {
    opacity: 1;
    /* transform: scale(1); */
    /* background-color: var(--bg-color); */
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    /* transform: translateY(0) scale(1); */
  }
  100% {
    opacity: 0;
    /* transform: translateY(300px) scale(0); */
  }
}

/* 图标 */
.icons-wrapper {
  /* padding: 10%; */
  width: 85%;
  height: 85%;
  overflow: scroll;
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 120px));
  grid-template-rows: repeat(5, minmax(100px, 120px));
  gap: 30px; /* 固定间距 */
  box-sizing: border-box;
  justify-content: center;
  /* background-color: violet; */
  opacity: 0.9;
}

.icon {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  /* color: white; */
  border: 2px solid #00000000;
  padding: 5px;
  box-sizing: border-box;
  transition: background-color 0.5s ease, opacity 0.6s ease; /* 添加过渡效果 */
}
.icon:hover {
  border: 2px solid var(--icon-border-color);
  background-color: var(--icon-hover-bg-color);
}
.icon .icon-image {
  padding: 5px;
  width: 60px;
  height: 60px;
}
.icon .icon-name {
  font-size: 12px;
  text-align: center;
  width: 100%;
  /* overflow: hidden; */
  /* background-color: violet; */
  /* text-overflow: ellipsis; */
  display: -webkit-box; /* 设置为 flex 或者其他布局方式 */
  -webkit-box-orient: vertical; /* 设置为垂直方向，表示从上到下显示 */
  overflow: hidden;
  -webkit-line-clamp: 1; /* 控制显示行数为 2 行 */
  /* background-color: aquamarine; */
}
/* 搜索目标图标 */
.search-target {
  border: 2px solid var(--icon-border-color);
  background-color: var(--icon-hover-bg-color);
}
/* 非搜索目标 */
.non-search-target {
  /* 灰色滤镜 */
  /* filter: grayscale(50%); */
  /* 半透明滤镜 */
  /* filter: opacity(0.5); */
  opacity: 0.5;
}

/* 选中第一个图标 */
.search-target-first {
  border: 2px solid var(--theme-color);
  background-color: rgba(123, 163, 238, 0.402);
}

/* 侧边栏 */
/* 侧边栏容器 */
#sidebar-wrapper {
  /* background-color: aqua; */
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 30px;
}

/* 侧边栏 */
#sidebar {
  position: absolute;
  left: 10px;
  top: 15px;
  bottom: 15px;
  width: 300px;
  background-color: var(--sidebar-bg-color);
  transition: background-color 0.9s ease; /* 添加过渡效果 */
  border-radius: 20px;
  /* color: rgb(129, 129, 129); */
  padding: 0;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  padding: 20px;
  transform: translateX(-110%);
  transition: transform 0.3s ease; /* 添加过渡效果 */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid var(--sidebar-border-color);
}
#sidebar-wrapper:hover #sidebar {
  transform: translateX(0);
}
/* 侧边栏指示器 */
#sidebar-wrapper #indicate {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  background-color: var(--sidebar-indicate-color);
  transition: height 0.6s ease; /* 添加过渡效果 */
  width: 6px;
  height: 80px;
}
#sidebar-wrapper:hover #indicate {
  height: 0;
}

/* 设置的标题 */
.setting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
}
.setting-item {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}
/* 设置的名称 */
.setting-item-name {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
}
/* 设置的选项容器 */
.options {
  /* display: none; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center;  */
}
.option {
  padding: 10px;
  border-radius: 10px;
}
.option:hover {
  background-color: var(--icon-hover-bg-color);
}

/* 背景不透明度 */
#bg-transparency-slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  outline: none;
}

/* 按下按钮指示器 */
#keypress-indicate {
  display: none;
  /* visibility: hidden; */
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  background-color: var(--sidebar-indicate-color);
  border: 1px solid var(--sidebar-border-color);
  transition: display 0.6s ease; /* 添加过渡效果 */
  /* width: 80px;
  height: 6px; */
  padding: 0 30px;
  font-size: 20px;
  /* 文字左右间隔增大一点 */
  letter-spacing: 1px;
  height: 50px;
  line-height: 50px;
  backdrop-filter: blur(10px);
}
